.page-footer {
  padding: 60px 0;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--footer-bg-color);
  .social__list {
    margin: 0 auto;
  }
  .main-button {
    margin: 0 auto;
  }
  .footer__address,
  .social__list {
    margin-bottom: 60px;
  }
  .subscribe__mail {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    text-align: left;
    .main-button {
      margin: 0;
    }
    .subscribe__mail {
      max-width: 62%;
      margin: 0;
    }
  }
}
.footer__text,
.subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: $tablet) {
  .footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .subscribe-form {
    flex: 0 1 450px;
  }
}
@media screen and (min-width: $desktop) {
  .subscribe-form {
    flex: 0 570px;
  }
  .subscribe__label {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__mail {
  padding: 0 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--mail-link-color);
  background-color: inherit;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--mail-link-color);
  }
}
